*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(201, 245, 154);
}

.container{
    text-align: center;
}

.box{
    background: rgba(47, 255, 0, 0.488);
    width: 220px;
    height: 480px;
    margin: 10px;
    margin-top: 8%;
    border-radius: 4px;
    display: inline-block;
}

.image{
    width: 220px;
    height: 280px;
    margin-bottom: 15px;
}

.image img{
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

button{
    margin-top: 5%;
    margin-bottom: 10%;
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
}

button:hover{
    background-color: black;
    color: white;
    transition: .4s;
}

footer{
    margin-top: 2%;
    display: flex;
    background: greenyellow;
    justify-content: center;
    padding: 8px 4%;
}

header{
    position: fixed;
    width: 100%;
    height: 40px;
    text-align: center;
    background: greenyellow;
}